<p-toolbar styleClass="bg-indigo-800">
  <div class="p-toolbar-group-start flex gap-2">
    <p-button
      icon="pi pi-home"
      label="Dashboard"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLink="/dashboard"
      routerLinkActive="exact_route"
    ></p-button>
  </div>

  <div class="p-toolbar-group-center flex gap-2">
    <p-button
      icon="pi pi-cart-plus"
      label="Products"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLink="/products"
      routerLinkActive="exact_route"
    ></p-button>
    <p-button
      icon="pi pi-ticket"
      label="Categories"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLink="/categories"
      routerLinkActive="exact_route"
    ></p-button>
    <p-button
      icon="pi pi-credit-card"
      label="Sell"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLink="/products"
      routerLinkActive="exact_route"
    ></p-button>
  </div>
</p-toolbar>
